@-moz-document url-prefix("https://news.ycombinator.com/") {
body {
    background-color: #555753;
    color: #eeeeec;
}

.default { font-size: 1rem; }
.admin   { font-size:.8rem; }
.title   { font-size: 1.1rem; }
.subtext { font-size:  .8rem; }
.yclinks { font-size:  .8rem; }
.pagetop { font-size: .9rem; }
.comhead { font-size:  .8rem; }
.comment { font-size:  1rem; }

a:link , .title a, .c00, .c00 a:link, .c5a, .c5a a:link, .c5a a:visited {
    color: #eeeeec;
}
/* downvoted / greyed out */
.c73, .c73 a:link, .c73 a:visited {
    color: #888a85;
}

.comhead a:link, .subtext a:visited, .subtext, .subtext a:link, .subtext a:visited {
    color: #d3d7cf;
}

#hnmain {
    background-color: #2e3434 !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    background-color: #ce5c00;
}

.votelinks a+a > div {
    margin-top: .5rem;
}

.submission > td+td, .subline {
    padding-left: .2rem;
}
.subtext {
    padding-top: .1rem;
}

.hnuser > font {
    color: #8ae234 !important;
}

}
